<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
    <link rel="stylesheet" href="/app.css">
  </head>
  <nav>
    <a href="/">Home</a>
    <a href="/tasks">Tasks</a>
    <a href="/tasks/new">Create Task</a>
    <a href="/lists">Lists</a>
    <a href="/lists/new">Create List</a>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
