<ul>
  <% @lists.each do |list| %>
  <li>
    <%= list["name"] %>
    <a href="/lists/<%= list.id %>/tasks">view tasks</a>
    <form action="/lists/<%= list.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" name="" value="DELETE">
    </form>
    <% end %>
  </li>
</ul>
