<form action="/tasks" method="post">

  <label for="">Name</label>
  <input type="text" name="name" value="">

  <label for="">Priority</label>
  <input type="text" name="priority" value="">

  <input type="submit" name="" value="Save">
</form>
